<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Don Gato</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="icon" href="{{ url_for('static', filename='img/encabezado/logo.jpeg') }}">
</head>
<body>
<header>
    <div class="izquierda">
            <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/encabezado/logo.jpeg') }}" alt="Logo">
        </a>
        <h1>DON GATO</h1>
    </div>

    <div class="derecha">
            <a href="{{ url_for('cuenta') }}" class="cuenta">
            <img src="/static/img/encabezado/perfil.png" alt="Cuenta">
        </a>
            <a href="{{ url_for('contacto') }}" class="contacto">
            <img src="/static/img/encabezado/mensaje.png" alt="Contacto">
        </a>
            <a href="{{ url_for('carrito') }}" class="carrito">
            <img src="/static/img/encabezado/carrito.png" alt="Carrito">
        </a>
    </div>
</header>

    <main>
        <div class="cuenta">
            <br>        
            <h1>Contáctanos</h1>
            
            <form method="POST">
                <div>
                    <input style="font-size: 22px;" type="text" name="nombre" placeholder="Nombre" required>
                </div><br>
                <div>
                    <input style="font-size: 22px;" type="email" name="correo" placeholder="Correo" required>
                </div><br>
                <div>
                    <textarea style="font-size: 22px; padding: 8px; margin-bottom: 20px; text-align: left; height: 120px; resize: none;" name="mensaje" placeholder="Mensaje" required></textarea>
                </div><br>
                <button style="font-size: 22px; margin-bottom: 30px; padding: 5px; width: 275px;" type="submit">Enviar</button>
            </form>
        </div>
    </main>

    <footer>
        &copy; 2025 Don Gato. Todos los derechos reservados.
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>
