<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña - Don Gato</title>
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="icon" href="/static/img/encabezado/logo.jpeg">
</head>
<body class="body-login">
    <header>
        <h1 style="font-size: 65px; font-family: 'Showcard Gothic', sans-serif; margin:0; width: 100%;">
            DON GATO
        </h1>
    </header>
<main>
    <div class="form">        
        <h1> Recuperar Contraseña </h1>
        
        <form method="POST" action="/recuperar-password.html">
            <div class="usuario" style="font-size: 35px;">
                <input type="email" style="font-size: 20px;" placeholder="Tu email registrado" name="email" required>
            </div>
            <br>
            
            <div class="user" style="font-size: 25px; text-align:center;">
                <input type="password" id="contrasena" style="font-size: 20px;" placeholder="Nueva Contraseña" name="nueva_password" required>
            </div>
            <br>
            
            <div class="user" style="font-size: 25px; text-align:center;">
                <input type="password" id="confirmar_contrasena" style="font-size: 20px; margin-bottom: 30px;" placeholder="Confirmar Nueva Contraseña" name="confirmar_password" required>
            </div>
            <br>
            
            <div style="font-size: 25px; text-align:center;"> 
                <input type="checkbox" data-toggle="contrasena"> Mostrar contraseña 
            </div>  
            
            <br>
            <div>
                <button type="submit" style="font-size: 25px; margin-bottom: 20px; background-color: yellowgreen;"> Cambiar Contraseña </button>
            </div>
        </form>
        
        <div>
            <a href="{{ url_for('login_page') }}">
                <button type="button" style="font-size: 25px; margin-bottom: 30px; background-color: cadetblue;"> Volver al Login </button>
            </a>
        </div>
    </div>
</main>

    <footer>
        &copy; 2025 Don Gato. Todos los derechos reservados.
    </footer>
<script src="/static/js/script.js"></script>
</body>
</html>
